html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    /* 
    background-image: url(../img/fundo.jpg); */
    display: table-cell;
    vertical-align: middle;
    width: 100%; 
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../img/fundo.jpg);
     background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
     justify-content: center; 
    align-items: center; 
   
}

#login-page {
   width: 500px;
}

.card {
     position: absolute;
     left: 50%;
     top: 50%;
}